apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ouaplmly
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ouaplmly:648c1c3f9e1fcdfd0aabb4222358ae53c6e3f816@sha256:ab2ef25b0da574f07ba4211b23ead028282eb897b7cf0a99bac625184e37906e
          name: container-image
